* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Colors --- */
/* --- BreakPoints --- */
/* --- Media Queries --- */
/* --- Fonts --- */
/* --- Image --- */
/* --- Shadow --- */
/* --- Flex --- */
/* --- Variables --- */
/* --- Home --- */
#home {
  height: calc(90vh - 56px);
  position: relative;
  overflow: hidden;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.home__bg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.home__bg .opacity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.home__container--info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #efefef;
}
.home__container--info .paragraph {
  font-size: 1.25em;
  width: 80%;
  text-align: center;
}
.home__container--info .title {
  font-size: 2.5em;
  color: #2dc56a;
}

.home__socials {
  display: flex;
}
.home__socials a i {
  font-size: 1.5em;
}
.home__socials a {
  text-decoration: none;
  background-color: #efefef;
  color: #255f38;
  padding: 8px 12px;
  border-radius: 0 16px 16px 0;
}
.home__socials a:hover {
  background-color: #255f38;
  color: #e9efec;
  transition: 0.2s;
}
.home__socials a:first-child {
  border-radius: 16px 0 0 16px;
  border-right: 2px solid #255f38;
}

/* --- Variables --- */
/* --- About Us --- */
#about {
  min-height: 80vh;
}
#about .title {
  font-size: 2em;
  color: #2dc56a;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 90%;
}

.about__container--info {
  width: 80%;
  height: 100%;
}
.about__container--info span,
.about__container--info li {
  color: #255f38;
}
.about__container--info .paragraph,
.about__container--info li {
  font-size: 1.25em;
}

.about__container--image {
  width: 90%;
  height: 350px;
  margin: 20px;
}
.about__container--image .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.about__container--image .image:hover {
  transform: scale(1.03);
}

/* --- Media Queries --- */
@media (min-width: 768px) {
  .about__container {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
  }
  .about__container--image {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .about__container {
    width: 70%;
  }
}
/* --- Variables --- */
/* --- Services --- */
#services {
  min-height: 80vh;
}
#services .title {
  font-size: 2em;
  color: #2dc56a;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 90%;
}

.services__container--info {
  width: 90%;
  height: 100%;
  text-align: center;
}
.services__container--info .subtitle {
  color: #255f38;
}
.services__container--info .paragraph {
  font-size: 1.25em;
}

.services__container--cards {
  width: 90%;
}
.services__container--cards .card {
  width: 90%;
  margin: 20px auto;
  border: 0;
  background-color: #e9efec;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.services__container--cards .card .card__title,
.services__container--cards .card .card__paragraph {
  padding: 8px 4px;
}
.services__container--cards .card .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  height: 200px;
  border-radius: 8px 8px 0 0;
}
.services__container--cards .card:hover {
  transform: scale(1.03);
}

/* --- Media Queries --- */
@media (min-width: 576px) {
  .services__container--cards .card {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .services__container--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .services__container--cards .card {
    width: 300px;
  }
}
/* --- Variables --- */
/* --- Services --- */
#gallery {
  background-color: #efefef;
  min-height: 80vh;
  padding: 3rem 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#gallery .title {
  font-size: 2em;
  color: #2dc56a;
  margin: 1em 0;
}
#gallery .subtitle {
  color: #255f38;
  text-align: center;
}
#gallery .paragraph {
  font-size: 1.25em;
  text-align: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.gallery__grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}
.gallery__grid img:hover {
  transform: scale(1.02);
}

/* --- Media Queries --- */
@media (min-width: 768px) {
  .gallery__grid {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .gallery__grid {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    grid-template-areas: "a a b" "c d b" "e f g" "e h h";
  }
  /* --- Areas --- */
  .img-a {
    grid-area: a;
  }
  .img-b {
    grid-area: b;
  }
  .img-c {
    grid-area: c;
  }
  .img-d {
    grid-area: d;
  }
  .img-e {
    grid-area: e;
  }
  .img-f {
    grid-area: f;
  }
  .img-g {
    grid-area: g;
  }
  .img-h {
    grid-area: h;
  }
}
/* --- Variables --- */
/* --- Contact --- */
#contact {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#contact .title {
  font-size: 2em;
  color: #2dc56a;
  margin: 1em 0;
}
#contact .subtitle {
  color: #255f38;
  text-align: center;
}
#contact .paragraph {
  font-size: 1.25em;
  text-align: center;
}

.contact__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__container--form .form {
  margin: 12px;
  padding: 12px;
  border-radius: 4px;
  background-color: #e9efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
.contact__container--form .form label {
  color: #255f38;
  font-size: 1.25em;
}
.contact__container--form .form input {
  padding: 8px;
  border: none;
  border-bottom: 2px solid #255f38;
}
.contact__container--form .form input:focus {
  outline: none;
}
.contact__container--form .form textarea {
  padding: 8px;
  border: none;
  border-bottom: 2px solid #255f38;
  resize: vertical;
  min-height: 200px;
  max-height: 600px;
}
.contact__container--form .form textarea:focus {
  outline: none;
}
.contact__container--form .form .form-button {
  margin-top: 20px;
  padding: 12px;
  background-color: #255f38;
  color: #efefef;
  border: none;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
.contact__container--form .form .form-button:hover {
  background-color: #2dc56a;
  transition: 0.3s;
}

.contact__container--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  justify-content: none;
}
.contact__container--info .map {
  width: 100%;
}
.contact__container--info .map iframe {
  width: 100%;
  height: 300px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.contact__container--info .map iframe:hover {
  transform: scale(1.03);
}
.contact__container--info .media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.contact__container--info .media a i {
  font-size: 2.5em;
  color: #2dc56a;
  filter: drop-shadow(0 0 5px rgba(45, 197, 106, 0.5));
  color: #255f38;
  padding: 8px 12px;
  transition: all 0.3s ease;
}
.contact__container--info .media a i:hover {
  color: #2dc56a;
  transform: scale(1.05);
}

/* --- Media Queries --- */
@media (min-width: 992px) {
  .contact__container {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
  .contact__container--form {
    max-width: 500px;
    width: 40vw;
  }
  .contact__container--info .map iframe {
    height: 400px;
  }
}
/* --- Variables --- */
/* --- NavBar --- */
.navbar {
  background-color: #255f38;
}
.navbar .navbar-brand {
  color: #efefef;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 28px;
}
.navbar .nav-link {
  color: #efefef;
}

/* --- Variables --- */
/* --- Spikes --- */
.spikes {
  position: relative;
  background: #efefef;
  min-height: 1vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -22%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #efefef 25%, transparent 25%), linear-gradient(225deg, #efefef 25%, transparent 25%);
  background-position: 0 0;
}

/*# sourceMappingURL=styles.css.map */
